<!DOCTYPE html>
<html>
  <head>
    <title>End</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>End</h1>
    <p>Welcome to End</p>
    <script src="/javascripts/end.js" type="module"></script>
  </body>
</html>