<!DOCTYPE html>
<html>
  <head>
    <title>Fin de Partie</title>
    <link rel='stylesheet' href='/stylesheets/end.css' />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lilita+One&display=swap" rel="stylesheet">
  </head>
<<<<<<< HEAD
  <body>
    <h1>End</h1>
    <p>Welcome to End</p>
    <script src="/javascripts/end.js" type="module"></script>
    <p id="timer"></p>
    <ol id="scores"></ol>
    <a id="leave">Leave</a>
    <a id="back">Back to Room</a>
=======
  <body id="body">
    <script src="/javascripts/rooms.js"></script>
    <h2>Fin de la partie !</h2>
    <section class="classement">
      <p>1.</p>
    </section>
    <section class="classement2">
      <p>2.</p>
    </section>
    <section class="classement3">
      <p>3.</p>
    </section>
    <section class="rank">
      <section class="pdpSection">
      <ul>
        <li><img class="pdpImg1" id="profilePicture" src="/images/ProfilePictures/pp1.jpg"></li>
        <li><img class="pdpImg2" id="profilePicture" src="/images/ProfilePictures/pp2.jpg"></li>
        <li><img class="pdpImg3" id="profilePicture" src="/images/ProfilePictures/pp3.jpg"></li>
      </ul>
    </section>
    <section class="joueur1">
      <p>pseudo 1</p>
    </section>
    <section class="joueur2">
      <p>pseudo 2</p>
    </section>
    <section class="joueur3">
      <p>pseudo 3</p>
    </section>
      
    <section class="score1">
      <p>score 1</p>
    </section>
    <section class="score2">
      <p>score 2</p>
    </section>
    <section class="score3">
      <p>score 3</p>
    </section>
    </section>
    <section>
      <a id="leave">Quitter</a>
      <p id="timer"></p>
      <ol id="scores"></ol>
      <a id="leave">Leave</a>
      <a id="back">Leave</a>
    </section>
>>>>>>> b3e0f8615c998fa93b149ebd2eb1e46dea154ba9
  </body>
</html>
