<!DOCTYPE html>
<html>
  <head>
    <title>Fin de Partie</title>
    <link rel='stylesheet' href='/stylesheets/end.css' />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lilita+One&display=swap" rel="stylesheet">
  </head>
  <body id="body">
    <script src="/javascripts/end.js" type="module"></script>
    <h2>Fin de la partie !</h2>
    <section class="classement">
      <p>1.</p>
    </section>
    <section class="classement2">
      <p>2.</p>
    </section>
    <section class="classement3">
      <p>3.</p>
    </section>
    <section class="rank">
      <section class="pdpSection">
      <ul>
      </ul>
    </section>
    <section>
      <a id="leave">Quitter</a>
      <p id="timer"></p>
      <ol id="scores"></ol>
      <a id="back">Retour en arrière</a>
    </section>
  </body>
</html>
