<!DOCTYPE html>
<html>
  <head>
    <title>End</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>End</h1>
    <p>Welcome to End</p>
    <script src="/javascripts/end.js" type="module"></script>
    <p id="timer"></p>
    <ol id="scores"></ol>
    <a id="leave">Leave</a>
    <a id="back">Leave</a>
  </body>
</html>