<!DOCTYPE html>
<html>
  <head>
    <title>Fin de Partie</title>
    <link rel='stylesheet' href='/stylesheets/end.css' />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lilita+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <script src="/javascripts/end.js" type="module"></script>
    <h2>Fin de la partie !</h2>
    <ol id="scores"></ol>
    <section class="buttons">
      <a id="leave">QUITTER LE LOBBY</a>
      <a id="back">RETOUR AU LOBBY</a>
    </section>
    <p id="timer"></p>
  </body>
</html>
