<!DOCTYPE html>
<html>
  <head>
    <title>Fin de Partie</title>
    <link rel='stylesheet' href='/stylesheets/end.css' />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lilita+One&display=swap" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/javascripts/rooms.js"></script>
  </head>
  <body id="body">
    <h2>Fin de la partie !</h2>
    
  <section class="classement">
    <p>1. 2. 3.</p>

    <section class="rank">
      <section class="pdpSection">
      <ul>
        <li><img class="pdpImg1" id="profilePicture" src="/images/ProfilePictures/pp1.jpg"></li>
        <li><img class="pdpImg2" id="profilePicture" src="/images/ProfilePictures/pp2.jpg"></li>
        <li><img class="pdpImg3" id="profilePicture" src="/images/ProfilePictures/pp3.jpg"></li>
      </ul>
    </section>
    <section class="pseudo">
      <b><p>pseudo1 pseudo2 pseudo3</p></b>
      
  <section class="score">
    <p>score1  score2  score3  </p>
  



    </section>
    <section>
      <a id="leave">Quitter</a>
    </section>
  </body>
</html>
