<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home</h1>
    <p>Welcome to Home</p>
    <script src="/javascripts/home.js" type="module"></script>
    <img id="profilePicture" src="" alt="profile Picture">
    <a id="nextPP">Next Profile Picture</a>

    <form name="username" method="get">
      <input type="text" name="username" placeholder="Username"><br>
    </form>
    <form name="roomID" method="get">
      <input type="text" name="roomID" placeholder="Room ID"><br>
    </form>

    <a id="joinRoom">Join Room</a>
    <a id="newRoom">New Room</a>
  </body>
</html>
