<!DOCTYPE html>
<html>
  <head>
    <title>MEME PAS MAL</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lilita+One&display=swap" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/javascripts/home.js"></script>

  </head>
  <body id="body">
    <h1>MEME PAS MAL</h1>
    <p>Le jeu où vous pourrez ridiculiser vos amis !</p>
    <section class="pdpSection">
      <img class="pdpImg" id="profilePicture" src="">
    </section>
    <a id="nextPP" class="nextPdp" href="" onclick="">></a>
    <h3>Choisissez un surnom :</h3>
    <form name="username" class="username">
      <input name="username" class="userInput" id="usernameInput" required maxlength="15"/>
    </form>
    <section class="party">
      <h3>Créer une partie :</h3>
      <a id="newRoom">Créer une partie !</a>
      <h3>Rejoindre une partie :</h3>
      <form name="roomID">
        <input name="roomID" class="partyInput" type="number" placeholder="Votre code de 8 caractères" required minlength="8" maxlength="8">
      </form>
      <a id="joinRoom" type="submit" onclick="">Rejoindre !</a>
      
    </section>
  </body>
</html>
