<!DOCTYPE html>
<html>
  <head>
    <title>Meme</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="body">
    <h1>Meme</h1>
    <p>Welcome to Meme</p>
    <script src="/javascripts/memes.js" type="module"></script>
    <a id="leave">Leave</a>
    <p id="memeTitle"></p>
    <img id="meme" src="" alt="">
    <form name="captions" id="captions" action="get">

    </form>
  </body>
</html>