<!DOCTYPE html>
<html>
  <head>
    <title>Création du meme</title>
    <link rel='stylesheet' href='/stylesheets/memes.css' />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lilita+One&display=swap" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/javascripts/rooms.js"></script>
  </head>
  <body id="body">
    <h2>Créez votre meme !</h2>
    <section class="meme">
      <section class="memeImg">
        <p>Meme Title</p>
        <img id="meme">
      </section>
      <section class="memeText">
        <form name="captions" class="memeForm">
        </form>
        <a id="">Envoyez votre meme !</a>
      </section>
    </section>
    <section class="leaveSection">
      <a id="leave" class="leave">Quitter</a>
  </section>
  </body>
</html>
