<!DOCTYPE html>
<html>
  <head>
    <title>Création du meme</title>
    <link rel='stylesheet' href='/stylesheets/memes.css' />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lilita+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <script src="/javascripts/memes.js" type="module"></script>
    <script src="/javascripts/api.js" type="module"></script>
    <section class="header">
      <a id="leave">Quitter</a>
      <h2>Créez votre meme !</h2>
    </section>
    <section class="grid">
      <section class="meme">
        <p id="memeTitle"></p>
        <img id="meme" src="">
        <a id="changeMeme">Changer de meme</a>
      </section>
      <section id="form" class="form">
        <p id="timer"></p>
        <form name="captions" id="captions" class="memeForm">
        </form>
        <a id="submit">Envoyez votre meme !</a>
      </section>
    </section>
  </body>
</html>
