<!DOCTYPE html>
<html>
  <head>
    <title>Création du meme</title>
    <link rel='stylesheet' href='/stylesheets/memes.css' />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lilita+One&display=swap" rel="stylesheet">
  </head>
  <body id="body">
    <script src="/javascripts/memes.js" type="module"></script>
    <script src="/javascripts/api.js" type="module"></script>
    <h2>Créez votre meme !</h2>
    <section class="meme">
      <section class="memeImg">
        <p id="memeTitle"></p>
        <img id="meme" src="">
        <section class="memeText">
          <form name="captions" id="captions" class="memeForm">
          </form>
          <a id="changeMeme">Changer de meme</a>
          <a id="submit">Envoyez votre meme !</a>
        </section>
      </section>
    <section class="leaveSection">
      <a id="leave" class="leave">Quitter</a>
    </section>
  </body>
</html>
