<!DOCTYPE html>
<html>
  <head>
    <title>Meme</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Meme</h1>
    <p>Welcome to Meme</p>
    <script id="profilePicture" src="/javascripts/memes.js" type="module"></script>
  </body>
</html>