<!DOCTYPE html>
<html>
  <head>
    <title>Récapitulatif de la manche</title>
    <link rel='stylesheet' href='/stylesheets/ranks.css' />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lilita+One&display=swap" rel="stylesheet">
  </head>
  <body id="body">
    <script src="/javascripts/ranks.js" type="module"></script>
    <h2 id="round"></h2>
    <section class="pdpSection">
      <img class="pdpImg" id="profilePicture" src="">
    <section class="rank">
      </section>
      <ul>
        
      </ul>
    </section>
    <a href="" download="">Télécharger le meme</a>
    <section class="leaveSection">
      <a id="leave" class="leave">Quitter</a>
    </section>
    <p id="round"></p>
    <p id="timer"></p>
    <ul id="memes"></ul>
    <ol id="scores"></ol>
  </body>
</html>

