<!DOCTYPE html>
<html>
  <head>
    <title>Récapitulatif de la manche</title>
    <link rel='stylesheet' href='/stylesheets/ranks.css' />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lilita+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <script src="/javascripts/ranks.js" type="module"></script>
    <section class="header">
      <a id="leave">Quitter</a>
      <h2 id="round"></h2>
    </section>
    <section id="grid" class="grid">
      <ul id="memes"></ul>
      <section class="classement">
        <section class="score">
          <h3 id="classement">Classement :</h3>
          <ol id="scores"></ol>
        </section>
        <p id="timer"></p>
      </section>
    </section>
  </body>
</html>

