<!DOCTYPE html>
<html>
  <head>
    <title>Récapitulatif de la manche</title>
    <link rel='stylesheet' href='/stylesheets/ranks.css' />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lilita+One&display=swap" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/javascripts/rooms.js"></script>
  </head>
  <body id="body">
    <h2>Manche (1/3) :</h2>
    <section class="rank">
      <ul>
        
      </ul>
    </section>
    <a href="" download>Télécharger le meme</a>
    <section>
      <a id="leave" class="leave">Quitter</a>
    </section>
  </body>
</html>
