<!DOCTYPE html>
<html>
  <head>
    <title>Ranks</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ranks</h1>
    <p>Welcome to Ranks</p>
    <script src="/javascripts/ranks.js" type="module"></script>
  </body>
</html>