<!DOCTYPE html>
<html>
  <head>
    <title>Partie</title>
    <link rel='stylesheet' href='/stylesheets/rooms.css' />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lilita+One&display=swap" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/javascripts/rooms.js"></script>
  </head>
  <body id="body">
    <h2>MEME PAS MAL</h2>
    <section class="room">
        <h3 id="roomID">Code de la partie :</h3>
        <h3 class="playersTitle">Joueurs (Maximum 10) :</h3>
        <img src="" id="profilePicture" alt="">
        <h3 id="username"></h3>
        <section class="playersList">
            <ul id="playersList" class="list">
              <section class="pdpSection1">
                <li><img class="pdpImg1" id="profilePicture" src="/images/ProfilePictures/pp1.jpg"></li>
                <li><img class="pdpImg2" id="profilePicture" src="/images/ProfilePictures/pp2.jpg"></li>
                <li><img class="pdpImg3" id="profilePicture" src="/images/ProfilePictures/pp3.jpg"></li>
                <li><img class="pdpImg4" id="profilePicture" src="/images/ProfilePictures/pp4.jpg"></li>
                <li><img class="pdpImg5" id="profilePicture" src="/images/ProfilePictures/pp5.jpg"></li>
                <!-- <li><img class="pdpImg6" id="profilePicture" src="/images/ProfilePictures/pp6.jpg"></li>
                <li><img class="pdpImg7" id="profilePicture" src="/images/ProfilePictures/pp7.jpg"></li>
                 -->
                
            </ul>
        </section>
        <section>
            <a id="start" class="start">Commencer</a>
            <a id="leave" class="leave">Quitter</a>
        </section>
  </body>
</html>

<!-- 
img
h1
p -->