<!DOCTYPE html>
<html>
  <head>
    <title>Rooms</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="body">
    <h1>Rooms</h1>
    <p>Welcome to Rooms</p>
    <script src="/javascripts/rooms.js" type="module"></script>
    <img id="profilePicture" src="" alt="profile Picture">
    <p id="username"></p>
    <p id="roomID"></p>
    <a id="leave">Leave</a>
    <a id="start">Start</a>
    <ul id="playerList"></ul>
  </body>
</html>
