<!DOCTYPE html>
<html>
  <head>
    <title>Rooms</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Rooms</h1>
    <p>Welcome to Rooms</p>
    <script src="/javascripts/rooms.js" type="module"></script>
    <img id="profilePicture" src="" alt="profile picture">
    <code id="cookies"></code>
  </body>
</html>
