<!DOCTYPE html>
<html>
  <head>
    <title>Partie</title>
    <link rel='stylesheet' href='/stylesheets/rooms.css' />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lilita+One&display=swap" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/javascripts/rooms.js"></script>
  </head>
  <body id="body">
    <h2>MEME PAS MAL</h2>
    <section class="room">
        <h3>Code de la partie :</h3>
        <h3 class="playersTitle">Joueurs (Maximum 10) :</h3>
        <section class="playersList">
            <ul class="list">
                <li>
                    <img id="profilePicture">
                    <h4 id="username"></h4>
                </li>
                <li>
                    <img id="profilePicture">
                    <h4 id="username"></h4>
                </li>
                <li>
                    <img id="profilePicture">
                    <h4 id="username"></h4>
                </li>
                <li>
                    <img id="profilePicture">
                    <h4 id="username"></h4>
                </li>
                <li>
                    <img id="profilePicture">
                    <h4 id="username"></h4>
                </li>
                <li>
                    <img id="profilePicture">
                    <h4 id="username"></h4>
                </li>
                <li>
                    <img id="profilePicture">
                    <h4 id="username"></h4>
                </li>
                <li>
                    <img id="profilePicture">
                    <h4 id="username"></h4>
                </li>
                <li>
                    <img id="profilePicture">
                    <h4 id="username"></h4>
                </li>
                <li>
                    <img id="profilePicture">
                    <h4 id="username"></h4>
                </li>
            </ul>
        </section>
  </body>
</html>
