<!DOCTYPE html>
<html>
  <head>
    <title>Partie</title>
    <link rel='stylesheet' href='/stylesheets/rooms.css' />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lilita+One&display=swap" rel="stylesheet">
  </head>
  <body id="body">
    <script src="/javascripts/rooms.js" type="module"></script>
    <section class="header">
      <a id="leave" class="leave">Quitter</a>
      <h2>MEME PAS MAL</h2>
    </section>
    <section class="grid">
      <section id="list"class="list">
        <h1>Joueurs</h1>
        <ul id="playerList"></ul>
      </section>
      <section class="player">
        <img src="" id="profilePicture" alt="">
        <h3 id="username"></h3>
        <a id="start" class="start">Commencer</a>
        <h3 id="roomID">Code de la partie : </h3>
      </section>
    </section>
  </body>
</html>
