<!DOCTYPE html>
<html>
  <head>
    <title>Votes</title>
    <link rel='stylesheet' href='/stylesheets/votes.css' />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lilita+One&display=swap" rel="stylesheet">
  </head>
  <body id="body">
    <script src="/javascripts/votes.js" type="module"></script>
<<<<<<< HEAD
    <h2>Votez le meme !</h2>
    <section>
        <img id="meme" src="">
        <section class="pdpSection">
          <img class="pdpImg" id="profilePicture" src="">
        <a id="upvote" class="upVote">↑</a>
        <a id="novote" class="mouaisVote">Mouais</a>
        <a id="downvote" class="downVote">↓</a>
    </section>
    <section class="leaveSection">
      <a id="leave" class="leave">Quitter</a>
    </section>
    <p id="round"></p>
    <p id="timer"></p>
    <p id="memeNumber"></p>
    <a id="download" href="" download="">Télécharger</a>
=======
    <a id="leave">Leave</a>
    <p id="memeNumber">Meme</p>
    <img id="meme" src="" alt="">
    <a id="download" href="" download="MemePasMal" target="_blank">Download</a>
    <p id="timer"></p>
    <section id="vote" hidden>
      <a id="upvote">Like</a>
      <a id="novote">Meh</a>
      <a id="downvote">Dislike</a>
    </section>

>>>>>>> jeremy
  </body>
</html>
