<!DOCTYPE html>
<html>
  <head>
    <title>Votes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Votes</h1>
    <p>Welcome to Votes</p>
    <script src="/javascripts/votes.js" type="module"></script>
    <a id="leave">Leave</a>
    <p id="memeNumber">Meme</p>
    <img id="meme" src="" alt="">
    <a id="download" href="" download="MemePasMal" target="_blank">Download</a>
    <p id="timer"></p>
    <section id="vote">
      <a id="upvote">Like</a>
      <a id="novote">Meh</a>
      <a id="downvote">Dislike</a>
    </section>

  </body>
</html>