<!DOCTYPE html>
<html>
  <head>
    <title>Votes</title>
    <link rel='stylesheet' href='/stylesheets/votes.css' />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lilita+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Votes</h1>
    <p>Welcome to Votes</p>
    <script src="/javascripts/votes.js" type="module"></script>
  </body>
</html>
