<!DOCTYPE html>
<html>
  <head>
    <title>Votes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Votes</h1>
    <p>Welcome to Wait</p>
    <script src="/javascripts/wait.js" type="module"></script>
    <p id="memeTitle"></p>
  </body>
</html>