<!DOCTYPE html>
<html>
  <head>
    <title>En attente</title>
    <link rel='stylesheet' href='/stylesheets/wait.css' />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lilita+One&display=swap" rel="stylesheet">
    <script src="/javascripts/wait.js" type="module"></script>
  </head>
  <div class="loading-container">
    <div class="loading-bar"></div>
  </div>
  <body id="body">
    <h3>En attente des autres joueurs...</h1>
    <h5>C'est le moment d'aller pisser !</h3>
    <section class="leaveSection">
      <a id="leave" class="leave">Quitter</a>
    </section>
  </body>
</html>
