* {
    text-align: center;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom left, #6A5ACD 0%, #00BFFF 100%);
    font-family: "Arimo";
}

h2 {
    color: white;
    margin-top: auto;
    margin-bottom: 20px;
    font-size: 60px;
}

.pdpImg1 {
    text-align: center;
    margin: auto auto;
    border: 3px solid;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.pdpImg2 {
    text-align: center;
    margin: auto auto;
    border: 3px solid;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.pdpImg3 {
    text-align: center;
    margin: auto auto;
    border: 3px solid;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: inline-block; 
    margin-right: 20px; 
  }

p{
    
    display: inline block;

}
    













.leaderboard {
    list-style: none;
}

.leave {
    color: white;
    background-color: #DC143C;
    font-size: 18px;
    font-family: "Arimo";
    padding: 15px 25px;
    border-radius: 30px;
    border: 1px solid #B22222;
    margin-top: 1px;
}

.leaveSection {
    margin-top: 50px;
}