* {
    text-align: center;
    margin: 0;
    color: white;
}

body {
    margin: 2em;
    background: linear-gradient(to bottom left, #6A5ACD 0%, #00BFFF 100%);
    font-family: "Arimo";
}

a {
    text-decoration: none;
}

h2 {
    margin-bottom: 20px;
    font-size: 60px;
}

#scores {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 30px;
    justify-content: center;
    align-items: flex-end;

    li {
        display: flex;
        flex-direction: column;
        gap: 10px;
        img {
            border-radius: 100%;
            border: 2px solid rgb(255, 255, 0);
        }
    }

    .rank1 {
        order: 2;
        img {
            height: 150px;
        }
    }
    
    .rank2 {
        order: 1;
        img {
            height: 125px;
        }
    }
    
    .rank3 {
        order: 3;
        img {
            height: 100px;
        }
    }
}



.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    #leave {
        background-color: #00BFFF;
        padding: 12px 16px;
        border-radius: 10px;
        cursor: pointer;
    }
    #back {
        border: 2px solid rgba(255, 255, 255, 0.5);
        padding: 12px 16px;
        border-radius: 10px;
        cursor: pointer;
    }
}

#timer {
    padding: 30px;
}
