 * {
    text-align: center;
    margin: 0;
}

body {
    margin: 2em;
    background: linear-gradient(to bottom left, #6A5ACD 0%, #00BFFF 100%);
    font-family: "Arimo";
}

a {
    text-decoration: none;
    color: black;
}

.header {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    align-items: center;
    margin-bottom: 20px;
    h2 {
        color: white;
        font-size: 50px;
        margin: 0;
    }
    #leave {
        justify-self: start;
        color: white;
        background-color: #DC143C;
        padding: 12px 20px;
        border-radius: 10px;
        cursor: pointer;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items:end;
    gap: 30px;
    #memes {
        list-style-type: none;
        padding: 0;
        li {
            background-color: white;
            border-radius: 20px;
            margin-bottom: 20px;
            img {
                width: 100%;
                border-radius: 20px 20px 0px 0px;
            }
            .description {
                padding: 20px 30px;
                border-radius: 0px 0px 20px 20px;
                display: flex;
                align-items: center;
                justify-content:space-between;
                background-color: white;
                p {
                    color: rgba(0, 0, 0, 0.75);
                }
            }
        }
        
    }
    .classement {
        width: 100%;
        #classement {
            text-align: left;
            margin-bottom: 20px;
            font-size: x-large;
        }
        .score {
            background-color: white;
            border-radius: 20px;
            padding: 12px;
            #scores {
                padding: 0;
                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 5px;
                    margin-bottom: 20px;
                    img {
                        height: 50px;
                        border-radius: 100%;
                    }
                    p {
                        flex-grow: 6;
                        font-size: smaller;
                    }
                    h1 {
                        font-size: x-large;
                    }
                    h3 {
                        font-size: larger;
                    }
                }
            }
        }
        #timer {
            padding-top: 30px;
            color: rgba(255, 255, 255, 0.75);
        }
    }
}