* {
    text-align: center;
}

body {
    margin: 0;
    height: 110vh;
    background: linear-gradient(to bottom left, #6A5ACD 0%, #00BFFF 100%);
}

h2 {
    color: #e71f1f;
    margin-top: auto;
    margin-bottom: 20px;
    font-family: "Lilita One";
    font-size: 60px;
}


h3 {
    justify-items: center;
    font-family: "Arimo";
}

.playersList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.list {
    list-style-type: none;
}

.start {
    color: white;
    background-color: #65B741;
    font-size: 18px;
    font-family: "Arimo";
    padding: 15px 25px;
    border-radius: 30px;
    border: 1px solid #65B741;
    margin-top: 1px;
    margin-right: 20px;
}

.leave {
    color: white;
    background-color: #DC143C;
    font-size: 18px;
    font-family: "Arimo";
    padding: 15px 25px;
    border-radius: 30px;
    border: 1px solid #B22222;
    margin-top: 1px;
}


.pdpSection1{
    border: 3px solid;
    width: 800px;
    height: 500px;
    margin-left: 0% ;
    margin-top: -7.5%;
}

.pdpImg1 {
    margin-top: 0.2%;
    margin-right: 77%;
    width: 10px;
    border: 3px solid;
    border-radius: 100%;
    width: 80px;
    height: 80px;
}




.pdpImg2 {
    margin-top: 1%;
    margin-right: 77%;
    border: 3px solid;
    border-radius: 100%;
    width: 80px;
    height: 80px;
}


.pdpImg3 {
    margin-top: 1%;
    margin-right: 77%;
    border: 3px solid;
    border-radius: 100%;
    width: 80px;
    height: 80px;
}



.pdpImg4 {
    margin-top: 1%;
    margin-right: 77%;
    border: 3px solid;
    border-radius: 100%;
    width: 80px;
    height: 80px;
}


.pdpImg5 {
    margin-top: 1%;
    margin-right: 77%;
    border: 3px solid;
    border-radius: 100%;
    width: 80px;
    height: 80px;
}



/* .pdpImg6 {
    margin-right: -20%;
    border: 3px solid;
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.pdpImg7 {
    margin-right: -20%;
    border: 3px solid;
    border-radius: 100%;
    width: 80px;
    height: 80px;
} */
