* {
    text-align: center;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom left, #6A5ACD 0%, #00BFFF 100%);
}

h3 {
    color: #0000CD;
    margin-top: auto;
    margin-bottom: 20px;
    font-family: "Arimo";
    font-size: 50px;
}

h5 {
    color: white;
    font-family: "Arimo";
    font-size: 25px;
}


.leave {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: #DC143C;
  font-size: 18px;
  font-family: "Arimo";
  padding: 15px 25px;
  border-radius: 30px;
  border: 1px solid #B22222;
}

.loading-container {
    width: 1200px;
    height: 15px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    z-index: 1;
  }
  
  .loading-bar {
    width: 0%;
    height: 100%;
    background: linear-gradient(to right, #ff6b6b, #ffa500, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff);
    background-size: 200% 200%;
    animation: loading-animation 20s ease-in-out infinite;
  }
  
  @keyframes loading-animation {
    0% {
      width: 0%;
      background-position: 0% 50%;
    }
    100% {
      width: 100%;
      background-position: 100% 50%;
    }
  }
  
